.landing {
    background-image: linear-gradient(to bottom, transparent, lightgrey);
    margin: 5em 1em;
    padding: 1em;
    border-radius: 10px;
    filter: drop-shadow(0 3px 5px grey);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1em;
}