.paginationContainer {
    position: fixed;
    z-index: 1000;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: .5em;
    opacity: .7;
    font-size: .75rem;
    transition: 350ms;
}

.paginationContainer p {
    font-weight: bold;
}
.paginationContainer:hover {
    opacity: 1;
    font-size: 1rem;

    & .pageAmount {
        opacity: 1;
    }
}

.paginationContainer button {
    background-color: seashell;
    transition: 250ms;
}

.paginationContainer button:hover {
    background-color: darksalmon;
    color: white;
    letter-spacing: 1px;
}

.paginationContainer > * {
    border-color: lightslategrey;
    padding: 0 1em;
    border-radius: 5px;
    display: grid;
    place-items: center;
}

.paginationContainer *:nth-child(even) {
    border-style: solid none;
    border-width: 1px;
}

.paginationContainer *:nth-child(odd) {
    border-style: none solid;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
}

.pageAmount {
    width: 3em;
    text-align: center;
    transition: 1s;
}

.pageAmount::selection {
    background-color: darksalmon;
    color: white;
}